#N
wr_clk
wr_en
rst
rd_clk
rd_en


#S


#E
dout\[0\]
dout\[1\]
dout\[2\]
dout\[3\]
dout\[4\]
dout\[5\]
dout\[6\]
dout\[7\]
full
empty

#W
din\[0\]
din\[1\]
din\[2\]
din\[3\]
din\[4\]
din\[5\]
din\[6\]
din\[7\]


